<ul class="decks visible" data-tab-id="personal">
  <% if @decks %>
      <% @decks.each do |deck| %>
          <li class="deck public is-owner"
              data-id="<%= deck.id %>"
              data-url="/<%= deck.user.username %>/<%= deck.slug %>"
              data-slug="<%= deck.slug %>"
              data-description="<%= deck.description %>"
              data-view-count="1"
              data-visibility="<%= deck.visibility %>"
              data-created-at="<%= deck.created_at %>"
              data-user-id="<%= deck.user.id %>"
              data-username="<%= deck.user.username %>">

            <%= link_to "", show_deck_url(current_user.username, deck.slug), class: "deck-link" %>

            <div class="deck-thumbnail">
              <div class="deck-image" data-image-url="<%= deck.thumbnail.url %>"></div>
            </div>

            <h2 class="deck-title">
          <span class="deck-title-value is-interactive">
          <%= deck.title %>
        </span>
            </h2>

            <p class="deck-description">
          <span class="deck-description-value is-interactive">
            <%= deck.description %>
          </span>
            </p>

            <div class="deck-metadata">
              <span class="deck-metadata-item status">Created <%= deck.created_at %></span>
              <span class="deck-metadata-item views" data-tooltip="Views" data-tooltip-delay="500"><span class="icon i-eye"></span>1</span>
              <span class="deck-metadata-item kudos" data-tooltip="Kudos" data-tooltip-delay="500"><span class="icon i-heart-fill"></span>0</span>
            </div>
            <div class="deck-lock-icon icon i-lock-stroke is-interactive" data-tooltip="This deck is private"></div>
            <div class="deck-controls is-interactive">
              <div class="deck-controls-secondary">
                <button class="button outline grey delete l ladda-button" data-spinner-color="#777" data-style="zoom-out" data-tooltip="Delete">
                  <span class="icon i-trash-stroke"></span></button>
                <button class="button outline grey clone l ladda-button" data-spinner-color="#777" data-style="zoom-out" data-tooltip="Duplicate">
                  <span class="icon i-fork"></span></button>
                <button class="button outline grey visibility l ladda-button" data-spinner-color="#777" data-style="zoom-out" data-tooltip="Visibility">
                  <span class="icon i-lock-stroke"></span></button>
              </div>
              <button class="button outline edit l" data-tooltip="Edit"><span class="icon i-pen-alt2"></span></button>
              <%= link_to(live_url(current_user.username, deck.slug), class: "button outline present l", tooltip: "Present") do %>
                  <span class="icon i-play"></span>
              <% end %>

              <a class="button outline mobile-remote l" href="/ruby232/deck/speaker" target="_blank"><span class="icon i-mobile"></span></a>
            </div>
          </li>
      <% end %>
  <% end %>
</ul>