<% provide(:title, @deck.title + " by " + @user.username) %>
<% provide(:html_class, "decks show") %>

<% content_for :css_add do %>
    <%= stylesheet_link_tag '/deveal/bower_components/reveal.js/css/reveal', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '/deveal/css/deck-v2', media: 'all', 'data-turbolinks-track' => true %>

<% end %>

<% content_for :js_add do %>
    <%= javascript_include_tag '/deveal/js/sl/views/decks.show', 'data-turbolinks-track' => true %>
<% end %>

<div class="marquee">

  <div class="reveal-frame">
    <div class="reveal-viewport theme-font-montserrat theme-color-white-blue">
      <div class="reveal">
        <div class="slides">
          <% if @deck and @deck.data %><%= raw @deck.data %>
          <% else %>
              <section></section>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="deck-kudos">
    <button class="kudos-button kudos-trigger" data-kudos-id="769001" data-kudoed-by-user="false">
      <div class="kudos-heart">
        <span class="kudos-icon icon i-heart-fill"></span>
      </div>
      <div class="kudos-count" data-kudos-value="1" data-kudos-id="769001"></div>
    </button>
  </div>

  <div class="pill summary-pill">
    <div class="pill-picture" style="background-image: url(<%= @deck.user.avatar.url(:thumb) %>)"></div>
    <div class="pill-content">
      <h4 class="pill-title"><%= @deck.title %></h4>

      <p class="pill-description">By <%= @deck.user.get_name %></p>
    </div>
  </div>

  <div class="pill instructions-pill">
    <div class="pill-picture"></div>
    <div class="pill-content">
      <h4 class="pill-title"></h4>

      <p class="pill-description"></p>
    </div>
  </div>

</div>

<div class="column">
  <header class="deck-info">
    <div class="deck-promotion">
      <a class="button cta" data-tooltip="Open the Present view" href="<%= live_url(@deck.user.username, @deck.slug) %>">Present</a>
    </div>

    <div class="deck-options">
      <a class="fullscreen-button" data-tooltip="Fullscreen" href="#"><span class="icon i-fullscreen"></span></a>
      <a class="comment-button" data-tooltip="Comments" data-scroll-to href="#comments" data-scroll-to data-scroll-to-offset="-90"><span class="icon i-comment-stroke"></span></a>
      <a class="fork-button" data-tooltip="Fork this deck" href="#"><span class="icon i-fork"></span></a>
      <a class="edit-button" data-tooltip="Edit" href="/<%= @deck.user.username %>/<%= @deck.slug %>/edit"><span class="icon i-pen-alt2"></span></a>
    </div>

    <div class="clear"></div>

    <div class="details">
      <div class="deck-info">
        <h3 class="title"><%= @deck.title %></h3>

        <p class="description">
          <a class="" href="/<%= @deck.user.username %>/<%= @deck.slug %>/edit?l=settings">Edit deck title &amp;
            description</a>
        </p>
        <ul class="deck-meta">
          <li data-tooltip="Published date" data-tooltip-delay="500">
            <span class="icon i-clock"></span>
            <time class="value ago" datetime="<%= @deck.created_at  %>"></time>
          </li>
          <li data-tooltip="Kudos" data-tooltip-delay="500">
            <span class="icon i-heart-fill"></span>
            <span class="value" data-kudos-value="1" data-kudos-id="769001"></span>
          </li>
          <li data-tooltip="Views" data-tooltip-delay="500">
            <span class="icon i-eye"></span>
            <span class="value">2</span>
          </li>
        </ul>
      </div>

      <div class="user-info">
        <% if current_user and current_user.id == @deck.user.id %>
        <a class="icon i-cog edit" href="/users/edit" data-tooltip="Account settings"></a>
            <% end %>

        <div class="picture" style="background-image: url(<%= @deck.user.avatar.url(:thumb) %>)"></div>
        <div class="text">
          <h3 class="title">
            <a href="/<%= @deck.user.username %>" class="username"><%= @deck.user.get_name %></a>
          </h3>

          <p class="description"><%= @deck.user.description %></p>
          <ul class="links">
          </ul>
        </div>
        <div class="clear"></div>
      </div>

      <div class="clear"></div>
    </div>
  </header>

  <section class="comments" id="comments">
    <div id="disqus_thread"><span class="placeholder">Loading comments...</span></div>
  </section>

  <section class="deck-list">
    <h2>More from <a href="/<%= @deck.user.username %>" ><%= @deck.user.get_name %></a></h2>
    <ul class="carousel">
      <% @user_decks.each do |deck| %>
          <%= render :partial => 'deck/thumbnail', :locals => {:deck => deck}  %>
      <% end %>
    </ul>
  </section>

</div>