<!DOCTYPE html>
<html class="sl-root decks edit" data-editor-version="2" data-visibility="all">
<head>
  <meta name="viewport" content="width=1024, user-scalable=no"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Deveal">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style"
        content="black-translucent"/>
  <%= csrf_meta_tags %>
  <title><%= @title %></title>

  <%= stylesheet_link_tag '/deveal/bower_components/spectrum/spectrum', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/vendor/ladda/dist/ladda.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/vendor/ladda/dist/ladda-themeless.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/css/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/fonticons/slides/slides', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/bower_components/reveal.js/css/reveal', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/deveal/css/editor-v2', media: 'all', 'data-turbolinks-track' => true %>

  <%= render 'layouts/css/deck', :editor => true %>
</head>
<body>
<div class="page-loader visible">
  <div class="page-loader-inner">
    <div class="page-loader-spinner"></div>
  </div>
</div>

<div class="page-wrapper">

  <div class="preview-controls">
    <button class="button preview-controls-button preview-controls-exit grey l"
            data-tooltip="Resume editing" data-tooltip-direction="b"
            data-tooltip-delay="1000">
      <span class="icon i-pen-alt2"></span>
    </button>
    <a class="button preview-controls-button preview-controls-external grey l"
       href="#" target="_blank" data-tooltip="Present this deck"
       data-tooltip-direction="b">
      <span class="icon i-play"></span>
    </a>
  </div>

  <div class="sidebar">
    <div class="primary">
      <button class="button preview" data-tooltip-delay="500"
              data-tooltip-alignment="r"><span class="icon i-eye"></span>
      </button>
      <button class="button undo" data-tooltip-delay="500"
              data-tooltip-alignment="r"><span class="icon i-undo"></span>
      </button>
      <button class="button save disabled is-saved"
              data-tooltip-delay="500" data-tooltip-alignment="r">
        <span class="icon download i-disk"></span>
        <span class="icon check i-checkmark"></span>
                <span class="spinner centered" data-spinner-radius="7"
                      data-spinner-length="4" data-spinner-width="2"
                      data-spinner-color="#bbbbbb"></span>
      </button>
    </div>

    <div class="secondary">
      <button class="button publish" data-tooltip="Visibility"
              data-tooltip-alignment="r"><span
      class="icon i-unlock-stroke"></span></button>
      <button class="button settings" data-tooltip="Settings"
              data-tooltip-alignment="r"><span
      class="icon i-cog"></span><span
      class="close icon i-x"></span></button>
      <button class="button style" data-tooltip="Style"
              data-tooltip-alignment="r"><span
      class="icon i-brush"></span><span
      class="close icon i-x"></span></button>
      <button class="button arrange no-arrow"
              data-tooltip="Arrange slides" data-tooltip-alignment="r">
        <span class="icon i-layers"></span><span
      class="close icon i-x"></span></button>
      <button class="button revisions" data-tooltip="Revision history"
              data-tooltip-alignment="r"><span
      class="icon i-clock"></span><span
      class="close icon i-x"></span></button>
      <button class="button import" data-tooltip="Import"
              data-tooltip-alignment="r"><span
      class="icon i-cloud-upload"></span><span
      class="close icon i-x"></span></button>
      <button class="button export" data-tooltip="Export"
              data-tooltip-alignment="r"><span
      class="icon i-cloud-download"></span><span
      class="close icon i-x"></span></button>
      <button class="button medialibrary" data-tooltip="Media library"
              data-tooltip-alignment="r"><span
      class="icon i-photo-library"></span></button>
      <a class="button present" data-tooltip="Present"
         data-tooltip-alignment="r" href="#" target="_blank"><span
      class="icon i-play"></span></a>

      <button class="button more-options"><span
      class="more-options-dot"></span><span
      class="more-options-dot"></span><span
      class="more-options-dot"></span></button>
    </div>

    <div class="scroll-shadow-top"></div>
    <div class="scroll-shadow-bottom"></div>

    <header class="global-header ">
      <div class="wrapper">
        <h1 class="logo-animation">
          <a class="symbol" href="/">
            <div class="box-1"></div>
            <div class="box-2"></div>
            <div class="box-3"></div>
          </a>
          <a class="word" href="/"></a>
        </h1>
        <ul class="nav ">
          <li class="nav-item" data-page-id="home/explore">
            <a class="nav-item-anchor" href="/explore"><span
            class="nav-item-label">Explore</span></a>
          </li>
          <li class="nav-item profile-button">
            <%= link_to(profile_url(current_user.username),class: "nav-item-anchor") do %>
                <span class="nav-item-label"><%= current_user.username %></span>
            <span class="nav-item-burger">
              <span class="nav-item-burger-1"></span>
              <span class="nav-item-burger-2"></span>
              <span class="nav-item-burger-3"></span>
            </span>
            <% end %>

          </li>
        </ul>
      </div>
    </header>
  </div>

  <div class="sidebar-panel">

    <section class="settings">
      <div class="panel-body sl-form">
        <h2>Settings</h2>

        <div class="unit text title">
          <label for="deck[title]">Title</label>
          <input id="deck-input-title" name="deck[title]"
                 size="30"
                 type="text" placeholder="Title" class="xl"
                 maxlength="200"/>
        </div>

        <div class="unit text slug">
          <span class="text-prefix">http://</span>
          <input id="deck-input-slug" name="deck[slug]" size="30"
                 type="text" placeholder="URL" class="l"
                 maxlength="200"/>
        </div>

        <div class="unit text description">
          <label for="deck[description]">Description</label>
                    <textarea id="deck-input-description"
                              name="deck[description]" rows="4" maxlength="1400"
                              placeholder="This will appear next to your deck"></textarea>
        </div>

        <div class="toggles">

          <div class="sl-checkbox outline">
            <input id="settings-slide_number"
                   value="slide_number"
                   type="checkbox">
            <label for="settings-slide_number"
                   data-tooltip="Show slide numbers in the bottom right corner of the presentation"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Slide
              numbers</label>
          </div>

          <div class="sl-checkbox outline">
            <input id="settings-share_notes" value="share_notes"
                   type="checkbox">
            <label for="settings-share_notes"
                   data-tooltip="Let viewers see your speaker notes by overlaying them on top of the deck"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Share notes</label>
          </div>

          <div class="sl-checkbox outline">
            <input id="settings-loop" value="should_loop"
                   type="checkbox">
            <label for="settings-loop"
                   data-tooltip="Make the last slide loop back to the first"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Loop
              presentation</label>
          </div>

          <div class="sl-checkbox outline rtl-wrapper">
            <input id="settings-rtl" value="rtl"
                   type="checkbox">
            <label for="settings-rtl"
                   data-tooltip="Make content flow right-to-left"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Right-to-left</label>
          </div>

          <div class="sl-checkbox outline hide-when-visibility-self hide-when-visibility-team">
            <input id="settings-comments_enabled"
                   value="comments_enabled" type="checkbox">
            <label for="settings-comments_enabled"
                   data-tooltip="Allow comments on this deck"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Comments</label>
          </div>

          <div class="sl-checkbox outline hide-when-visibility-self hide-when-visibility-team">
            <input id="settings-forking_enabled"
                   value="forking_enabled" type="checkbox">
            <label for="settings-forking_enabled"
                   data-tooltip="Allow others to fork this deck"
                   data-tooltip-maxwidth="220"
                   data-tooltip-delay="500">Forking</label>
          </div>
        </div>

        <div class="unit text autoslide">
          <label for="deck[autoslide]">Auto-slide</label>
          <select class="sl-select" id="deck-input-autoslide"
                  name="deck[autoslide]"></select>
        </div>
      </div>

      <footer class="panel-footer">
        <button class="button cancel grey xl">Cancel</button>
        <button class="button save xl">OK</button>
      </footer>
    </section>

    <section class="style">
      <div class="panel-body">

      </div>
      <footer class="panel-footer">
        <button class="button cancel grey xl">Cancel</button>
        <button class="button save xl">OK</button>
      </footer>
    </section>

    <section class="export">
      <div class="panel-body sl-form">
        <div class="section download-html">
          <h2>Export HTML</h2>

          <p>
            Download the HTML source of your deck. The exported file
            does not include external assets, such as images, and is
            not suitable for offline use.
          </p>
          <button class="button download-html-button l">Download
            HTML
          </button>
        </div>
        <div class="section download-pdf">
          <h2>Export PDF</h2>

          <p>
            Download the PDF.
          </p>
          <button class="button download-pdf-button l">Download PDF
          </button>
        </div>
        <div class="section download-zip">
          <h2>Export ZIP</h2>

          <p>
            Download the ZIP.
          </p>
          <button class="button download-zip-button l">Download
            ZIP
          </button>
        </div>
         <div class="section download-reveal">
          <h2>Export to reveal.js</h2>
          <p>
            This includes the markup for your content as well as the
            Slides theme CSS. To export, download a copy of the <a
          href="https://github.com/hakimel/reveal.js"
          target="_blank">reveal.js</a> framework and make the
            following edits to its index.
          </p>
          1. In the &lt;head&gt;, replace the theme CSS &lt;link&gt;
          with:
          <textarea class="deck-css-contents" readonly></textarea>
          2. In the &lt;body&gt;, replace the &lt;div class="reveal"&gt;
          node with:
          <textarea class="deck-html-contents" readonly></textarea>
          3. In the Reveal.initialize call towards the bottom of
          index.html, specify "center: false".
        </div>
      </div>
      <footer class="panel-footer">
        <button class="button close xl grey">Close</button>
      </footer>
    </section>

    <section class="import">
      <div class="panel-body sl-form">
        <div class="section import-from-file">
          <h2>Import from PDF or PowerPoint</h2>

          <p>
            Upload a PDF or PPT document to import all contained
            pages. Imported slides are converted to images, meaning
            inner content such as text can not be edited.
          </p>

          <div class="import-browse-button button disabled l">
            Loading...
          </div>
        </div>
        <div class="section import-from-reveal">
          <h2>Import from reveal.js</h2>

          <p>
            Paste the HTML source of a <a
          href="http://github.com/hakimel/reveal.js"
          target="_blank">reveal.js</a> presentation below to
            import all contained slides. Note that the formatting of
            imported content can differ since Slides and reveal.js
            use different themes.
          </p>
                    <textarea class="import-input"
                              placeholder="Insert reveal.js markup..."></textarea>

          <div class="import-status">
            <span class="icon"></span>
            <span class="text"></span>
            <button class="button outline white l proceed">Import
            </button>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <button class="button close xl grey">Close</button>
      </footer>
    </section>

    <section class="revisions">
      <div class="panel-body">
        <h2>Revision History</h2>
        <ul class="version-list"></ul>
        <p class="loading"><span class="spinner"
                                 data-spinner-color="#222222"></span>
        </p>

        <p class="empty">Once your deck has been saved a few times
          you'll see a record of each saved version here. You'll be
          able to preview or roll back to any of those versions.</p>

        <p class="error">Please try again by closing and re-opening this
          panel.</p>
      </div>
      <footer class="panel-footer">
        <div class="panel-info"
             data-tooltip="Revisions are automatically deleted after six months."
             data-tooltip-maxwidth="300"><span
        class="icon i-info"></span></div>
        <button class="button close xl grey">Close</button>
      </footer>
    </section>
  </div>

  <article class="projector">
    <div class="reveal-viewport">

      <div class="reveal">
        <div class="slides">
          <% if @deck and @deck.data %><%= raw @deck.data %><% else %><section></section><% end %>
        </div>
      </div>
    </div>

    <div class="icon add-horizontal-slide"
         data-tooltip="Add new slide<br>(Hold shift for blank)"
         data-tooltip-alignment="l" data-tooltip-delay="1500">
      <span class="icon i-plus"></span>
    </div>
    <div class="icon add-vertical-slide"
         data-tooltip="Add new slide<br>(Hold shift for blank)"
         data-tooltip-alignment="t" data-tooltip-delay="1500">
      <span class="icon i-plus"></span>
    </div>

  </article>

</div>

<%= render 'layouts/js' %>
<%= javascript_include_tag '/deveal/bower_components/spectrum/spectrum', 'data-turbolinks-track' => true %>

<%= javascript_include_tag '/deveal/js/editor/view', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/blocks/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/blocks/all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/capabilities', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/serialize', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/contrast', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/blocks', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/media', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/history', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/markup', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/migration', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/selection', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/thumbnail', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/guides', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/grid', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/url', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/mode', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/controllers/deck_import', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/modes/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/modes/css', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/modes/arrange', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/modes/preview', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/modes/fragment', 'data-turbolinks-track' => true %>

<%= javascript_include_tag '/deveal/js/editor/components/sidebar/sidebar', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/export/export', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/export/pdf', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/export/zip', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/import', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/import_file', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/import_reveal', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/revisions', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/settings', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/sidebar/style', 'data-turbolinks-track' => true %>

<%= javascript_include_tag '/deveal/js/editor/components/toolbars/toolbars', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/util', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/add_snippet', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/add', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/edit_multiple', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/edit', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/animation', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/border_css', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/border_svg', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/line_type', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/link', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/groups/table_size', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/base', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/button', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/value', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/select', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/animation_preview', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/checkbox', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/color', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/multi', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/radio', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/range', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/select_line_type', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/stepper', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/text', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/toggle', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/toolbars/options/other', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/colorpicker', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/slide_options', 'data-turbolinks-track' => true %>
<%= javascript_include_tag '/deveal/js/editor/components/medialibrary/all', 'data-turbolinks-track' => true %>

<script>

  // More info https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    transition: 'slide', // none/fade/slide/convex/concave/zoom

    // More info https://github.com/hakimel/reveal.js#dependencies
    dependencies: [
      {
        src: '/deveal/bower_components/reveal.js/lib/js/classList.js',
        condition: function () {
          return !document.body.classList;
        }
      },
      {
        src: '/deveal/bower_components/reveal.js/plugin/markdown/marked.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      },
      {
        src: '/deveal/bower_components/reveal.js/plugin/markdown/markdown.js',
        condition: function () {
          return !!document.querySelector('[data-markdown]');
        }
      },
      {
        src: '/deveal/bower_components/reveal.js/plugin/highlight/highlight.js',
        async: true,
        callback: function () {
          hljs.initHighlightingOnLoad();
        }
      },
      {
        src: '/deveal/bower_components/reveal.js/plugin/zoom-js/zoom.js',
        async: true
      },
      {
        src: '/deveal/bower_components/reveal.js/plugin/notes/notes.js',
        async: true
      }
    ]
  });

</script>

</body>
</html>